.App {
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 2;
  background-color: rgb(17, 16, 16);
}

.heading {
  padding-top: 0%;

}

.recharts-wrapper {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.clock {
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 2;
  background-color: rgb(17, 16, 16);
  padding-left: 0px;
}

.headingText {
  color: white;
  font-weight: bold;
  font-size: 25px;
  padding-left: 30px;
}

.headingNav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Flow {
  text-align: center;
  position: relative;
  top: 40px;
}

.flowZonedropdown {
  padding-top: 30px;
}

#dropdown {
  margin-top: 30px;
  width: 220px;
  height: 35px;
  border-radius: 8px;
  color: white;
  background-color: grey;
  text-align: center;
  z-index: 3;
  font-size: 15px;
}

.myFlowPeaks {
  width: 159px;
  height: 76px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #393939;
  background: radial-gradient(89.43% 91.06% at 12.64% 12.94%, rgba(44, 44, 46, 0.30) 0%, rgba(57, 57, 57, 0.30) 0.01%, rgba(140, 140, 140, 0.12) 100%);
  box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.10);
  backdrop-filter: blur(17px);
  margin-left: 30px;
}

.globalFlowPeaks {
  width: 159px;
  height: 76px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #393939;
  background: radial-gradient(89.43% 91.06% at 12.64% 12.94%, rgba(44, 44, 46, 0.30) 0%, rgba(57, 57, 57, 0.30) 0.01%, rgba(140, 140, 140, 0.12) 100%);
  box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.10);
  backdrop-filter: blur(17px);
  margin-left: 30px;
}

.flowPeaks {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: -120px;
  margin-left: -35px;
}

.myFlowPeaks {
  /* padding-right: 25px; */
  display: block;
  justify-content: center;
  align-items: center;
  
}

.globalFlowPeaks {
  display: block;
  justify-content: center;
  align-items: center;
}

.flowPeaksText {
  color: white;
  font-weight: bold;
  
}

.thrivingToolKit {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding-left: 100px;
  width: 860px;
  height: 150px;
}

.thrivingToolKitText {
  color: white;
  padding-right: 150px;
  font-size: larger;
  font-weight: bolder;

}

.games {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.mytable{
  justify-content: space-evenly;
  /* padding: 750px; */
  width: 500px;
  /* padding-left: 500px; */
  margin-left: 500px;
  border: 1px solid white;
}

.forYou{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.globally{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  
}

.heading{
  display: flex;
  justify-content: center;
  align-items: center;
}
.second-column{
    margin-left: 50px;
}
.first-column{
  /* margin-left: 70px; */
}